.cart-page {
  height: 70vh;
  padding: 3rem;
  margin: 3rem;
  background-color: var(--color-gray);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  h2 {
    text-align: center;
    @include font-sub;
    @include tablet {
      text-align: left;
    }
  }
  ul {
    li {
      text-align: center;
      @include tablet {
        text-align: left;
        @include flex-layout(row, flex-start, center);
      }
      gap: 2rem;
      margin: 1rem 0;
      img {
        width: 150px;
      }
      h3,
      h4 {
        font-weight: normal;
      }
      .item-info {
        flex: 1;
      }
      .item-icon {
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}
.cart-summary {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-sub2);
  padding: 3rem;
  color: var(--color-gray);
  @include flex-layout(row, space-around, center);
  .summary-price {
    @include flex-layout();
  }
  button {
    @include btn-style(var(--color-primary));
  }
}
.empty-cart {
  margin-top: 100px;
  text-align: center;
  h3 {
    @include font-title;
  }
  p {
    @include font-sub;
    margin: 1rem 0;
  }
  button {
    @include btn-style(var(--color-sub2));
  }
}
