@mixin font-title{
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
@mixin font-sub{
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
@mixin font-btn{
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
@mixin font-body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

@mixin flex-layout($direction:row, $justify:center, $align:center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
//반응형 믹스인
@mixin tablet{
  @media screen and (min-width:768px){
    @content;
  }
}
@mixin desktop{
  @media screen and (min-width:1440px){
    @content;
  }
}

//버튼 컴포넌트
@mixin btn-style($bg:var(--color-primary)){
  background-color: $bg;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: var(--color-gray);
  @include font-btn();
}

