.new-item, .hit-item{
  display: grid;
  // grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  @include tablet{
    grid-template-columns: repeat(3,1fr);
  }
  @include desktop{
    grid-template-columns: repeat(4,1fr);
  }
}